<div class="modal-header">
    <h4 class="modal-title">{{ data.type == 'add' ? 'Add' : 'Edit' }} new user</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form (ngSubmit)="submit(f)" #f="ngForm">
        <div class="mb-3">
            <input type="text" class="form-control" id="" placeholder="User name" name="name" ngModel required>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="" placeholder="User job" name="job" ngModel required>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="(!f.valid)">{{ data.type == 'add' ? 'Add' : 'Edit' }}</button>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Close click')">Close</button>
</div>

<div class="ngb-toasts" *ngIf="toast">
    <ngb-toast class="bg-success text-light" [autohide]="true" [delay]="5000">
        {{ toast }}
    </ngb-toast>
</div>