<div class="login d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-4">
                <h4 class="text-center">Login</h4>
                <form (ngSubmit)="login(f)" #f="ngForm">
                    <div class="mb-3">
                        <input type="email" class="form-control" id="" placeholder="Email address" value="eve.holt@reqres.in" name="email" ngModel required>
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" id="" placeholder="Password" value="cityslicka" name="password" ngModel required>
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="(!f.valid)">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>