<div class="users d-flex my-3">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <button class="btn btn-primary mt-2" (click)="add()">Add new user</button>
            </div>
            <div class="col-6 d-flex justify-content-end align-items-center">
                <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-lg">
                        <li class="page-item" *ngFor="let page of totalPages; let i = index"><a class="page-link" (click)="nextPage($event, i+1)">{{i+1}}</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" *ngFor="let user of users; let i = index">
                <div class="container card my-1 p-0">
                    <div class="row">
                        <div class="col-3">
                            <img src="{{ user.avatar }}" [alt]="user.first_name + ' ' + user.last_name "
                                class="rounded-lg">
                        </div>
                        <a routerLink="/users/{{user.id}}" class="col-7">
                            <div class="card-body">
                                <p>
                                    Name: {{ user.first_name }} {{ user.last_name }}
                                </p>
                                <p>
                                    Email: {{ user.email }}
                                </p>
                            </div>
                        </a>
                        <div class="col-2 d-flex justify-content-end align-items-start">
                            <button class="btn btn-danger btn-sm m-2" (click)="delete(user.id, i)">Delete</button>
                            <button class="btn btn-primary btn-sm m-2" (click)="edit(user.id, i)">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ngb-toasts" *ngIf="toast">
    <ngb-toast class="bg-success text-light" [autohide]="true" [delay]="5000">
        {{ toast }}
    </ngb-toast>
</div>