<div class="user" *ngIf="user else notFound">
    <div class="container card p-0 mt-5">
        <div class="row">
            <div class="col-3">
                <img src="{{ user.avatar }}" [alt]="user.first_name + ' ' + user.last_name " class="rounded-lg">
            </div>
            <div class="col-9">
                <div class="card-body">
                    <p>
                        Name: {{ user.first_name }} {{ user.last_name }}
                    </p>
                    <p>
                        Email: {{ user.email }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #notFound>
    <div>
        <h4 class="text-center mt-5">User Not Found</h4>
    </div>
</ng-template>